@model SportSections.Models.SportSection

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/table.css" rel="stylesheet" />
<div class="details">
    <div class="details__content">
        <div class="details__content__title"><span>Деталі</span></div>
        <div class="details__items">
            <div class="details__items__row">
                <div class="details__item__cell"><span>
    @Html.DisplayNameFor(model => model.Name)
</span></div>
                <div class="details__item__cell"><span>
    @Html.DisplayFor(model => model.Name)
</span></div>
            </div>
            <div class="details__items__row">
                <div class="details__item__cell"><span>
    @Html.DisplayNameFor(model => model.Address)
</span></div>
                <div class="details__item__cell"><span>
    @Html.DisplayFor(model => model.Address)
</span></div>
            </div>
            <div class="details__items__row">
                <div class="details__item__cell"><span>
    @Html.DisplayNameFor(model => model.Cost)
</span></div>
                <div class="details__item__cell"><span>
    @Html.DisplayFor(model => model.Cost)
</span></div>
            </div>
            <div class="details__items__row">
                <div class="details__item__cell"><span>
    @Html.DisplayNameFor(model => model.RecommendedTraining)
</span></div>
                <div class="details__item__cell"><span>
    @Html.DisplayFor(model => model.RecommendedTraining)
</span></div>
            </div>
            <div class="details__items__row">
                <div class="details__item__cell"><span>
    @Html.DisplayNameFor(model => model.DoctorRecomended)
</span></div>
                <div class="details__item__cell"><span>
    @Html.DisplayFor(model => model.DoctorRecomended)
</span></div>
            </div>
            <div class="details__items__row">
                <div class="details__item__cell"><span>
    @Html.DisplayNameFor(model => model.Sport)
</span></div>
                <div class="details__item__cell"><span>
    @Html.DisplayFor(model => model.Sport.Name)
</span></div>
            </div>
        </div>
    </div>
</div>
<div class="table">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="CreateDetailsTr" asp-route-sportSectionId="@Model.SportSectionId" class="table__button" style="margin-bottom: 20px;"><span>Створити</span></a>
    }
<div class="table__content">
    <div class="table__row">
        <div class="table__cell">
            Ім'я тренера
        </div>
        <div class="table__cell">
            Прізвище тренера
        </div>
        <div class="table__cell">
            По батькові тренера
        </div>
        <div class="table__cell">
            Вік тренера
        </div>
        <div class="table__cell">
            Стать тренера
        </div>
        <div class="table__cell">
            Початок тренерства
        </div>
        <div class="table__cell">
            Завершення тренерства
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="table__cell"></div>
        }
    </div>

    @foreach (var item in Model.Coachings)
    {
<div class="table__row">
    <div class="table__cell">
        @Html.DisplayFor(modelItem => item.Trainer.Name)
    </div>
    <div class="table__cell">
        @Html.DisplayFor(modelItem => item.Trainer.Surname)
    </div>
    <div class="table__cell">
        @Html.DisplayFor(modelItem => item.Trainer.LastName)
    </div>
    <div class="table__cell">
        @Html.DisplayFor(modelItem => item.Trainer.Age)
    </div>
    <div class="table__cell">
        @Html.DisplayFor(modelItem => item.Trainer.Gender)
    </div>
    <div class="table__cell">
        @item.StartTime
    </div>
    <div class="table__cell">
        @item.FinishTime
    </div>
    <div class="table__cell">Test4</div>

    @if (User.Identity.IsAuthenticated)
    {
<div class="table__cell table__cell__buttons">
    <div class="table__buttons">
        <a asp-action="EditDetailsTr" asp-route-id="@item.CoachingId" class="table__button"><span>Редагувати</span></a>
        <a asp-action="DeleteDetailsTr" asp-route-id="@item.CoachingId" class="table__button"><span>Видалити</span></a>
    </div>
</div>
    }
</div>
    }
</div>
</div>