@model SportSectionsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.Identity.IsAuthenticated)
{

    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Пошук за назвою секції</label>
                <input asp-for="SectionNameSearch" class="form-control" />
            </div>
            <div class="form-group">
                <label>Пошук за назвою спорту</label>
                <input asp-for="SportNameSearch" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Пошук" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="DoRequest" asp-controller="Request" asp-route-sqlString="select top 10 * from sportSections
order by cost desc">Отримати 10 найдорожчих секцій</a>
</div>

<div>
    <a asp-action="Report" asp-controller="Request" asp-route-sqlString="Select * from sportsections">Отримати всі секції на друк</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Адреса
            </th>
            <th>
                Ціна
            </th>
            <th>
                Рекомендаційна підготовка
            </th>
            <th>
                Рекомендація від доктора
            </th>
            <th>
                Спорт
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SportSections) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommendedTraining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorRecomended)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sport.Name)
            </td>
                <td>
                    <a asp-action="DetailsTr" asp-route-id="@item.SportSectionId">Тренери секції</a> |
                    <a asp-action="DetailsSp" asp-route-id="@item.SportSectionId">Спортсмени секції</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>|</p>
                        <a asp-action="Edit" asp-route-id="@item.SportSectionId">Edit</a> 
                        <p>|</p>
                        <a asp-action="Delete" asp-route-id="@item.SportSectionId">Delete</a>
                        
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>
