@model SportSectionsViewModel

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/table.css" rel="stylesheet" />
<div class="table">

    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create" class="table__button" style="margin-bottom: 20px;"><span>Створити</span></a>
    }
    <a asp-action="DoRequest" asp-controller="Request" asp-route-sqlString="select top 10 sportsections.name section_name, address, cost, recommendedTraining, doctorRecomended, sports.name sport_name from sportSections
join sports on sports.sportId = sportsections.SportId
order by cost desc" class="table__button" style="margin-bottom: 20px;"><span>Отримати 10 найдорожчих секцій</span></a>
    <a asp-action="Report" asp-controller="Request" asp-route-sqlString="Select * from sportsections" class="table__button" style="margin-bottom: 20px;">
        <span>Отримати всі секції на друк</span>
    </a>
    <div class="table__search">
        <form asp-action="Index" method="post">
            <div class="table__search__block">
                <div class="table__search__item">
                    <span class="display">Пошук за назвою секції</span>
                    <input type="text" asp-for="SectionNameSearch">
                </div>
                <div class="table__search__item">
                    <span class="display">Пошук за назвою спорту</span>
                    <input type="text" asp-for="SportNameSearch">
                </div>
            </div>
            <div class="table__search__block">
                <div class="table__search__item">
                    <div class="table__search__submit"><input type="submit" value="Пошук"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="table__content">
        <div class="table__row">
            <div class="table__cell">Назва</div>
            <div class="table__cell">Адреса</div>
            <div class="table__cell">Ціна</div>
            <div class="table__cell">Рекомендаційна підготовка</div>
            <div class="table__cell">Рекомендація від доктора</div>
            <div class="table__cell">Спорт</div>
        </div>
        @foreach (var item in Model.SportSections)
        {
    <div class="table__row">
        <div class="table__cell">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="table__cell">
            @Html.DisplayFor(modelItem => item.Address)
        </div>
        <div class="table__cell">
            @Html.DisplayFor(modelItem => item.Cost)
        </div>
        <div class="table__cell">
            @Html.DisplayFor(modelItem => item.RecommendedTraining)
        </div>
        <div class="table__cell">
            @Html.DisplayFor(modelItem => item.DoctorRecomended)
        </div>
        <div class="table__cell">
            @Html.DisplayFor(modelItem => item.Sport.Name)
        </div>
        <div class="table__cell table__cell__buttons">
            <div class="table__buttons">
                <a asp-action="DetailsTr" asp-route-id="@item.SportSectionId" class="table__button"><span>Тренери секції</span></a>
                <a asp-action="DetailsSp" asp-route-id="@item.SportSectionId" class="table__button"><span>Спортмени секції</span></a>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@item.SportSectionId" class="table__button"><span>Редагувати</span></a>
                    <a asp-action="Delete" asp-route-id="@item.SportSectionId" class="table__button"><span>Видалити</span></a>
                }
            </div>
        </div>
    </div>
        }
    </div>
</div>