@model TrainersViewModel

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/table.css" rel="stylesheet" />
<div class="table">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create" class="table__button" style="margin-bottom: 20px;"><span>Створити</span></a>
    }
    <a asp-action="DoRequest" asp-controller="Request" asp-route-sqlString="select name, surname, lastname, count(*) section_count from trainers
join coachings on coachings.trainerId = trainers.trainerId
group by trainers.trainerId, name, surname, lastname
having count(name) = (select max(s.value) from (select count(*) value from trainers as t1
join coachings on coachings.trainerId = t1.trainerId
where t1.trainerId = trainers.trainerId) s)" class="table__button" style="margin-bottom: 20px;"><span>Отримати тренерів, які тренерують найбільше секцій</span></a>
    <div class="table__search">
        <form asp-action="Index" method="post">
            <div class="table__search__block">
                <div class="table__search__item">
                    <span class="display">Пошук за прізвищем</span>
                    <input type="text" asp-for="SurnameSearch">
                </div>
                <div class="table__search__item">
                    <span class="display">Сортування за прізвищем по алфавіту</span>
                    <select asp-for="SurnameOrder">
                        <option value="0">За спаданням</option>
                        <option value="1">За зростанням</option>
                    </select>
                </div>
            </div>
            <div class="table__search__block">
                <div class="table__search__item">
                    <span class="display">Мінімальна кількість секцій спортсмена</span>
                    <input type="text" asp-for="MinimumSectionCount">
                </div>
                <div class="table__search__item">
                    <span class="display">Максимальна кількість секцій спортсмена</span>
                    <input type="text" asp-for="MaximumSectionCount">
                </div>
            </div>
            <div class="table__search__block">
                <div class="table__search__item">
                    <div class="table__search__submit"><input type="submit" value="Шукати"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="table__content">
        <div class="table__row">
            <div class="table__cell">
                Ім'я
            </div>
            <div class="table__cell">
                Прізвище
            </div>
            <div class="table__cell">
                По батькові
            </div>
            <div class="table__cell">
                Вік
            </div>
            <div class="table__cell">
                Стать
            </div>
            <div class="table__cell">
                Робочий стаж
            </div>
            <div class="table__cell">
                Адреса
            </div>
            <div class="table__cell">
                Зарплата
            </div>
            <div class="table__cell"></div>
        </div>
        @foreach (var item in Model.Trainers)
        {
            <div class="table__row">
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.Surname)
                </div>
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.LastName)
                </div>
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.Age)
                </div>
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.Gender)
                </div>
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.WorkExperiance)
                </div>
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.Address)
                </div>
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.Salary)
                </div>
                <div class="table__cell table__cell__buttons">
                    <div class="table__buttons">
                        <a asp-action="DetailsTr" asp-route-id="@item.TrainerId" class="table__button"><span>Секції</span></a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Edit" asp-route-id="@item.TrainerId" class="table__button"><span>Редагувати</span></a>
                            <a asp-action="Delete" asp-route-id="@item.TrainerId" class="table__button"><span>Видалити</span></a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>