@model IEnumerable<SportSections.Models.Sport>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/table.css" rel="stylesheet" />

<div class="table">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create" class="table__button" style="margin-bottom: 20px;"><span>Створити</span></a>
    }
    <a asp-action="DoRequest" asp-controller="Request" asp-route-sqlString="select sports.sportId, sports.name, count(*) count from sports
join sportSections on sportSections.sportId = sports.sportId
group by sports.sportId, sports.name" class="table__button" style="margin-bottom: 20px;"><span>Отримати кількість секцій для кодного спорту</span></a>
    <div class="table__content">
        <div class="table__row">
            <div class="table__cell">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="table__cell">
                @Html.DisplayNameFor(model => model.SportType)
            </div>
            <div class="table__cell">
                @Html.DisplayNameFor(model => model.ChanceOfInjury)
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="table__cell"></div>
            }
        </div>
        @foreach (var item in Model)
        {
    <div class="table__row">
        <div class="table__cell">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="table__cell">
            @Html.DisplayFor(modelItem => item.SportType)
        </div>
        <div class="table__cell">
            @Html.DisplayFor(modelItem => item.ChanceOfInjury)
        </div>
        @if (User.Identity.IsAuthenticated)
        {
    <div class="table__cell table__cell__buttons">
        <div class="table__buttons">
            <a asp-action="Edit" asp-route-id="@item.SportId" class="table__button"><span>Редагувати</span></a>
            <a asp-action="Edit" asp-route-id="@item.SportId" class="table__button"><span>Видалити</span></a>
        </div>
    </div>
        }
    </div>
        }
    </div>
</div>