@model SportSections.Models.Sportsman

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sportsman</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.SportsmanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>



@if (User.Identity.IsAuthenticated)
{
    <a asp-action="CreateDetails" asp-route-sportsmanId="@Model.SportsmanId">Create</a>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Назва секції
            </th>
            <th>
                Адреса секції
            </th>
            <th>
                Ціна секції
            </th>
            <th>
                Рекомендована підготовка
            </th>
            <th>
                Рекомендація від лікаря
            </th>
            <th>
                Дата запису
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SectionRecords)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SportSection.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SportSection.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SportSection.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SportSection.RecommendedTraining)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SportSection.DoctorRecomended)
                </td>
                <td>
                    @item.RecordDate
                </td>
                @if(User.Identity.IsAuthenticated){

                    <td>
                        <a asp-action="EditDetails" asp-route-id="@item.SectionRecordId" >Edit</a> |
                        <a asp-action="DeleteDetails" asp-route-id="@item.SectionRecordId">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

