@model SportSections.Models.Sportsman

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/table.css" rel="stylesheet" />
<div class="details">
    <div class="details__content">
        <div class="details__content__title"><span>Деталі</span></div>
        <div class="details__items">
            <div class="details__items__row">
                <div class="details__item__cell">
                    <span>
                        @Html.DisplayNameFor(model => model.Name)
                    </span>
                </div>
                <div class="details__item__cell">
                    <span>
                        @Html.DisplayFor(model => model.Name)
                    </span>
                </div>
            </div>
            <div class="details__items__row">
                <div class="details__item__cell">
                    <span>
                        @Html.DisplayNameFor(model => model.Surname)
                    </span>
                </div>
                <div class="details__item__cell">
                    <span>
                        @Html.DisplayFor(model => model.Surname)
                    </span>
                </div>
            </div>
            <div class="details__items__row">
                <div class="details__item__cell">
                    <span>
                        @Html.DisplayNameFor(model => model.LastName)
                    </span>
                </div>
                <div class="details__item__cell">
                    <span>
                        @Html.DisplayFor(model => model.LastName)
                    </span>
                </div>
            </div>
            <div class="details__items__row">
                <div class="details__item__cell">
                    <span>
                        @Html.DisplayNameFor(model => model.Age)
                    </span>
                </div>
                <div class="details__item__cell">
                    <span>
                        @Html.DisplayFor(model => model.Age)
                    </span>
                </div>
            </div>
            <div class="details__items__row">
                <div class="details__item__cell">
                    <span>
                        @Html.DisplayNameFor(model => model.Gender)
                    </span>
                </div>
                <div class="details__item__cell">
                    <span>
                        @Html.DisplayFor(model => model.Gender)
                    </span>
                </div>
            </div>
            <div class="details__items__row">
                <div class="details__item__cell">
                    <span>
                        @Html.DisplayNameFor(model => model.Address)
                    </span>
                </div>
                <div class="details__item__cell">
                    <span>
                        @Html.DisplayFor(model => model.Address)
                    </span>
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Edit" asp-route-id="@Model.SportsmanId" class="table__button" style="margin-bottom: 20px;"><span>Редагувати</span></a>
    }
    </div>

</div>
<div class="table">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="CreateDetails" asp-route-sportsmanId="@Model.SportsmanId" class="table__button" style="margin-bottom: 20px;"><span>Створити</span></a>
    }
<div class="table__content">
    <div class="table__row">
        <div class="table__cell">
            Назва секції
        </div>
        <div class="table__cell">
            Адреса секції
        </div>
        <div class="table__cell">
            Ціна секції
        </div>
        <div class="table__cell">
            Рекомендована підготовка
        </div>
        <div class="table__cell">
            Рекомендація від лікаря
        </div>
        <div class="table__cell">
            Дата запису
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="table__cell"></div>
        }
    </div>

    @foreach (var item in Model.SectionRecords)
    {
        <div class="table__row">
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.SportSection.Name)
            </div>
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.SportSection.Address)
            </div>
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.SportSection.Cost)
            </div>
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.SportSection.RecommendedTraining)
            </div>
            <div class="table__cell">
                @Html.DisplayFor(modelItem => item.SportSection.DoctorRecomended)
            </div>
            <div class="table__cell">
                @item.RecordDate
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="table__cell table__cell__buttons">
                    <div class="table__buttons">
                        <a asp-action="EditDetails" asp-route-id="@item.SectionRecordId" class="table__button"><span>Редагувати</span></a>
                        <a asp-action="DeleteDetails" asp-route-id="@item.SectionRecordId" class="table__button"><span>Видалити</span></a>
                    </div>
                </div>
            }
        </div>
    }
</div>
</div>