@model SportsmansViewModel

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/table.css" rel="stylesheet" />
<div class="table">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Create" class="table__button" style="margin-bottom: 20px;"><span>Створити</span></a>
    }
    <a asp-action="DoRequest" asp-controller="Request" asp-route-sqlString="
select name, surname, lastname, count(*) section_count from sportsmans
join sectionRecords on sectionRecords.sportsmanId = sportsmans.sportsmanId
group by sportsmans.sportsmanId, name, surname, lastname
having count(*) = (select max(s.value) from (select count(*) value from sportsmans as t1
join sectionRecords on sectionRecords.sportsmanId = t1.sportsmanId
group by t1.sportsmanId) s)" class="table__button" style="margin-bottom: 20px;"><span>Отримати спортсменів, які відвідують найбільше секцій</span></a>
    <a asp-action="Report" asp-controller="Request" asp-route-sqlString="Select * from sportsmans" class="table__button" style="margin-bottom: 20px;"><span>Отримати всіх спортсменів на друк</span></a>
    <div class="table__search">
        <form asp-action="Index">
            <div class="table__search__block">
                <div class="table__search__item">
                    <span class="display">Пошук за прізвищем</span>
                    <input type="text" asp-for="SurnameSearch">
                </div>
                <div class="table__search__item">
                    <span class="display">Сортування за прізвищем по алфавіту</span>
                    <select asp-for="SurnameOrder">
                        <option value="0">За спаданням</option>
                        <option value="1">За зростанням</option>
                    </select>
                </div>
            </div>
            <div class="table__search__block">
                <div class="table__search__item">
                    <span class="display">Мінімальна кількість секцій спортсмена</span>
                    <input type="text" asp-for="MinimumSectionCount">
                </div>
                <div class="table__search__item">
                    <span class="display">Максимальна кількість секцій спортсмена</span>
                    <input type="text" asp-for="MaximumSectionCount">
                </div>
            </div>
            <div class="table__search__block">
                <div class="table__search__item">
                    <div class="table__search__submit"><input type="submit" value="Пошук"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="table__content">
        <div class="table__row">
            <div class="table__cell">
                Ім'я
            </div>
            <div class="table__cell">
                Прізвище
            </div>
            <div class="table__cell">
                По батькові
            </div>
            <div class="table__cell">
                Вік
            </div>
            <div class="table__cell">
                Стать
            </div>
            <div class="table__cell">
                Адреса
            </div>
                <div class="table__cell"></div>
        </div>

        @foreach (var item in Model.Sportsmans)
        {
            <div class="table__row">
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.Surname)
                </div>
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.LastName)
                </div>
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.Age)
                </div>
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.Gender)
                </div>
                <div class="table__cell">
                    @Html.DisplayFor(modelItem => item.Address)
                </div>
                <div class="table__cell table__cell__buttons">
                    <div class="table__buttons">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="Edit" asp-route-id="@item.SportsmanId" class="table__button"><span>Редагувати</span></a>
                            <a asp-action="Delete" asp-route-id="@item.SportsmanId" class="table__button"><span>Видалити</span></a>
                        }

                        <a asp-action="Details" asp-route-id="@item.SportsmanId" class="table__button"><span>Секції спортсмена</span></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>